<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>SCORE</title>
</head>
<body>
    
    <div class="navbar-fixed">
        <nav class="amber darken-1">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo">SCORE</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        {{{body}}}
    </div>

    <!-- Footer -->
    <footer class="section amber darken-3 white-text center">
        <p>SCORE Copyright &copy; 2018</p>
    </footer>

    <!-- Compiled and minified JavaScript Materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</body>
</html>